main {
    
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex: auto;

    @media (max-width:750px) {
    
        flex-direction: column;
        justify-content: center;

           
    }

    p{
       
        letter-spacing: 0.2rem;
        line-height: 2;
        font-family: monospace;
    }
    article{
        
        @media (max-width:750px) {
    
            width: 90%;
           
               
        }
        width: 60%;
        padding: 0;
        transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
        background-color: $primary-color;
        border-radius: 4px;
        opacity: 1;
        box-shadow: 2px -4px 7px 5px #1d324259;
        
        
        #intro {
            
            padding: 0 2.5rem 1.5rem 2.5rem;            
            h1,h2,h3{
                color: white;
                font-weight: bold;
                text-decoration: underline;
              }
            

            #visual-map{
                display: flex;
                flex-direction: column;
                p,h3{
                   margin-left:25px;
                }
                img{
                    width: 50%;
                    align-self: center;
                }
            }
        }
        .clickable-image{
            width: 7.5rem;
            height: 7.5rem;
            line-height: 5.5rem;
            align-self: center;
            margin-top:10px;
        }
        iframe{
            overflow: scroll;
            width: 100%;
            min-height: 600px;
            background: #00000091;
            border: 3px solid white;
            border-radius: 19px;
            resize: both;
        }
    }
    aside{
        @media (max-width:750px) {
    
            width: 90%;
            align-self: center;
            margin: 30px;
        }
        width: 30%;
        transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
        padding: 1.5rem;
        max-width: 100%;
        background-color: $primary-color;
        align-self: flex-start;
        box-shadow: 2px -4px 7px 5px #1d324259;
    }
}
article > *:first-child {
    margin-left: 30px;
    margin-bottom: 0;
}
.flex-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center{
    align-self: center;
}
.no-decoration{
    text-decoration: none !important;
}
.weight-normal{
   font-weight:normal !important;           
}
