html, body{
    margin: 0;
    background-color: white;
    height:100%;
}

header{
  font-weight: bold;
  font-size: 22px;
}
main{
    
}
button,a{
    background: none;
    border: none;
    color: black;
    text-decoration:none;
    font-size: 1.4vw;
    display: block;
}
p, article,li{
  font-family: serif;
  line-height: 28px;
}
a{
  font-family: 'Source Serif Pro', serif;
}
li{
  line-height: 25px;
}
#navbar{
    width: 20%;
    min-height: 100vh;
    box-shadow: 1px 1px 2px 2px #cabcbc;
    position:fixed;
    transition: 1s ease-in;
    
}
.navheader{
  max-height: 60px;
  min-height: 60px;
  background-color: #282f2de6;
  color: white;
  font-size: 1.4em;
  box-shadow: 0px 4px 0px 0px deepskyblue;
    
}
.content{
    width: 80%;
    position: absolute;
    left: 20%;
    transition:0.5s ease-out;
    min-width: 420px;
}
.mainHeader{
    width: 100%;
    max-height:55px;
    min-height:55px;
    background-color: #282f2de6;
    position: absolute;
}
.navheadercontent{
    padding-top: 15px;
}
#minmize,#maximize{
    display: inline;
    color: white;
   font-size: 1.4vw;
   transition: 1s;
}
#maximize{
   display: none;
   padding-top: 15px;
   float:left;
}
.details{
   padding:40px;
}
.insidelinks{

overflow-y: scroll;
height: calc(100vh - 60px);
}
.nav-link{
display: block;
/* border-bottom: .1px solid white; */
padding: 20px;
color: white;
background: #282f2de6;
text-transform: capitalize;

}
.nav-link:hover{
color:#282f2de6;
background-color:white;
}
code{
display: block;
font-family: 'Source Code Pro', monospace;
font-size: 15px;
margin: 10px;
background: #00000014;
padding: 20px;
border-radius: 5px;
color: #0c0c0cbf;
font-weight: bolder;
}
.navigationList>li{
display: inline-block;
}
.navigation{
float:right;
}
.search{
margin-top:55px;
}
.navigationList>li>a {
color: white;
padding: 10px;
/* display: inline-block; */
margin: 3px;
}
.navigationList>li>a:hover{
color: #282f2de6;
background-color:white;
box-shadow: 1px 1px 2px 2px solid wheat;
}
.dropDownButton{
  display: none;
}
.navigation>li{
  display: block;
}
.search{

}
#searchInside{
width: 300px;
padding: 10px;
border-radius: 10px;
border: 1px solid #0000002e;
margin: 10px;
position: relative;
left: calc(100% - 365px);
}


@media(max-width:768px){
  #navbar{
    width: 0%;
    display: none;
  }
  .content{
    width: 100%;
    margin: 0 auto;
    height: auto;
    left: 0;
    text-align: left;
    /* justify-content: end; */
    display: block;
  }
  #maximize{display: none;} 
  #minimize{
    display:none;
  }
  .dropDownButton{
    display: block;
    height: 55px;
    font-size: 16px;
    text-align: right;
    background-color: white;
    width: 100%;
  }
  .navigation{
    background-color: #3d4341;
    /* display: none; */
    position: absolute;
    right: 0;
    width: 200px;  
    z-index: 4;
    
  }
  .navigationList{
    display: none;
  }

  .mobileHover{
    width: 20%;
   
    margin-left: 80%;
  }
  .mobileHover:hover{
    width: 100%;
    margin-left: 0;

  }
  
  .mobileHover:hover .navigationList{
    display: block;
    z-index: 3;
    /* height: 55px;
    width: 200px;
    display: block; */
    
  }
  
  
  
  .navigationList>li {
    display: list-item;
    display: list-item;
    list-style: none;
   
    
  }
  .navigationList>li>a {
   
    font-size: 12px;
  }
}